#topbar {
  text-align: center;
  padding: 10px 5px;
  background-color: #FFC82C
}

.btn {
  margin-top: 10px;
  margin-left: 10%;

}
#logonav{
  margin-left: 10%;
  text-align: center;
}
#picandname{
  background-color: #444;
  padding: 100px 20%;
  color: #FFF;
  align-items: center;
  text-align: center;

}
#Namadenganoneliner{
  margin-top: 80px;
  margin-left: 20px;
  align-items: center;

}

#myprofile{
  padding: 20px;
  background-color: #FFC82C;
}
.Judul{
  text-align: center;
  margin-bottom: 100px;
}

.paragrafprofile{
  line-height: 1.6em;
  margin-left: 0px;
  margin-left: 40px;
}

#fotoisiprofil{
  margin-left: 70px;
  margin-top: 20px;


}
#fotoprofil {
  text-align: center;
  align-items: center;
}

#mywork{
  background-color: #444;
  color: #FFF;

}
#whatido{
  text-align: center;
}

#signup{
  font-size: 25px;
  text-align: center;
  padding: 40px;
}

#isiform{
  padding: 40px;
 align-self: center;
  width: 500px;
  text-align: center;
}

#done{
  background-color: #FFC82C;
  text-align: center;
  padding: 50px;
}
#contactmenow{
  text-align: center;
  margin-left: -200px;
  padding: 40px;
