{% extends 'landasan.html' %}
{% block content %}
  <div class="container-fluid" id="isiform">
   <form>
   <div class="form-group">
     <label for="inputbuatemail">Masukkan Email Anda</label>
     <input type="email" class="form-control" id="inputbuatemail" placeholder="Email Anda">
   </div>
   <div class="form-group">
      <label for="exampleFormControlTextarea1">Pesan Anda</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
   <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
