<body>
  <div id="topbar" class="row">
      <div class="col-xl-2 col-md-2 col-sm-12 col-xs-12">
        <a href="{% url 'index' %}"><img id="logonav" src="https://pbs.twimg.com/profile_images/635300711878627328/uD_CXHgV_400x400.jpg"
        class="rounded-circle" alt="Cinque Terre" width="60px"></a>
        </div>
        <div class="col-xl-6 col-md-3 col-sm-12 col-xs-12">
          </div>
      <div class="col-xl-1 col-md-2 col-sm-12 col-xs-12">
        <a href="{% url 'index' %}#profilku" class="btn btn-light">Profile</a>
      </div>
      <div class="col-xl-1 col-md-2 col-sm-12 col-xs-12">
        <a href="{% url 'index' %}#work" class="btn btn-light">Activities</a>
      </div>
      <div class="col-xl-1 col-md-2 col-sm-12 col-xs-12">
        <a href="{% url 'kontak' %}" class="btn btn-light">Contact</a>
      </div>
      <div class="col-xl-1 col-md-1 col-sm-12 col-xs-12">
        </div>
  </div>