{% extends 'landasan.html' %}
{% block content %}
  <div id="picandname">
      <div class="row">
        <div class="col-lg 4">
          <img id="profilepic" src="https://1.bp.blogspot.com/-zVNgImn09T8/XHS4MOwddBI/AAAAAAAAXa0/R-8Rv_W-I5k5bIvtKVVSy9_3ZxI3Q4Z2gCLcBGAs/s1600/DSC02109.jpg"
        class="rounded-square" alt="Cinque Terre" width="300px">
        </div>
        <div id="Namadenganoneliner" class="col-lg 10">
        <h1>Rendya Yuschak<h1>
        <h2>Programmer, Web Designer and Developer<h2>
        </div>
  </div>
</div>

  <div id="myprofile">
    <a name = "profilku"> <h1 class="Judul">My Profile<h1></a>
      <div class="containerA">
        <div id="isiprofil" class="row">
          <div class="col-xl-6 col-md-12 col-sm-12 col-xs-12">
            <h5 class="paragrafprofile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Duis commodo nulla sed lorem vulputate lacinia. Proin nec nisl pellentesque,
              eleifend est nec, vulputate risus. Sed elementum hendrerit elit, ac
              porttitor nulla facilisis a. </h5>

            <h5 class="paragrafprofile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis commodo nulla sed lorem vulputate lacinia. Proin nec nisl pellentesque,
                eleifend est nec, vulputate risus. Sed elementum hendrerit elit, ac
                porttitor nulla facilisis a. </h5>

            <h5 class="paragrafprofile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Duis commodo nulla sed lorem vulputate lacinia. Proin nec nisl pellentesque,
                  eleifend est nec, vulputate risus. Sed elementum hendrerit elit, ac
                  porttitor nulla facilisis a. </h5>

              <h5 class="paragrafprofile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis commodo nulla sed lorem vulputate lacinia. Proin nec nisl pellentesque,
                    eleifend est nec, vulputate risus. Sed elementum hendrerit elit, ac
                    porttitor nulla facilisis a. </h5>

              <h5 class="paragrafprofile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          Duis commodo nulla sed lorem vulputate lacinia. Proin nec nisl pellentesque,
                          eleifend est nec, vulputate risus. Sed elementum hendrerit elit, ac
                          porttitor nulla facilisis a. </h5>
            </div>
            <div id="fotoprofil" class="col-xl-6 col-md-12 col-sm-12 col-xs-12">
              <img id="fotoisiprofil"src ="https://2.bp.blogspot.com/-KIL2pCTs-kc/XF8eDZDsJWI/AAAAAAAAXS8/9QwAS1IY9aosvPr92bx4In_3xbiJJMeZQCLcBGAs/s1600/DSC02147.JPG"  width="400px">
              </div>
        </div>
      </div>
      </div>


  <div id="mywork">
    <a name = "work"><h1 class="Judul">What I Do<h1></a>
    <div id="whatido" class="row">
      <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 containerB">
        <h3>Programming<br></br></h3>
        <h6>Python</h6>
        <h6>Java</h6>
        <h6>C#</h6>
        <h6>C++</h6>
        <h6>C</li>
        <h6>Verilog<br></br></h6>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 containerB">
        <h3>Web Designer<br></br></h3>
        <h6>wireframe</h6>
        <h6>html</h6>
        <h6>css</h6>
        <h6>figma</h6>
        <h6>marvelapp</h6>
        <h6>pen and paper<br></br></h6>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 containerB">
        <h3>Web Developer<br></br></h3>
        <h6>django</h6>
        <h6>javascript</h6>
        <h6>bootstrap</h6>
        <h6>jquery</h6>
        <h6>PHP<br></br></li>
      </div>
    </div>
  </div>
  <div id="contactmenow">
    <a href="{% url 'kontak' %}" class="btn btn-dark">Interested? Contact Me Now!</a>
  </div>
{% endblock %}
