{% extends 'landasan.html' %}
{% block content %}
  <div class="container-fluid" id="isiform">
   <form method ="post">
     {% csrf_token %}
     {{ form.as_p }}
   <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h2></h2>
</div>
{% endblock %}
